.app-container {
  background-color: #ffffff;
  height: 100vh;
  background-size: cover;
}
.header {
  background-color: #3367d6;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.img-style {
  height: 50px;
}
.header-bg {
  background-color: #2850a7;
  display: flex;
  padding-right: 20px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
